// element ui
.el-button {
  .is-loading {
    &:before {
      background: transparent;
    }
  }
}
.up-button {
  width: 100%;
  height: 52px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  &.el-button--primary {
    background: linear-gradient(320deg, #8864ff 0%, #9a7cff 100%);
    box-shadow: inset 1px 1px 4px 0px rgba(255, 255, 255, 0.5);

    &.is-disabled,
    &:hover {
      background: linear-gradient(320deg, rgb(109, 79, 205) 0%, rgb(128, 121, 206) 100%);
    }
  }
  &.el-button--info {
    background: var(--up-bg);
    box-shadow: inset 1px 1px 3px 0px var(--up-line);
    color: var(--up-text-primary);
    &:hover {
      background: var(--up-bg-checked);
    }
  }
}

// input
.up-input {
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;

  .el-input__wrapper {
    padding: 1px 16px;
    border-radius: 12px;
    background: var(--up-bg);
    box-shadow: inset 1px 1px 3px 0px var(--up-line);
    font-size: 16px;
    &.is-focus {
      background: var(--up-bg-checked);
      .el-input__prefix {
        .el-input__prefix-inner {
          .left,
          .right,
          .center {
            display: none;
          }
          .bottom {
            display: block;
          }
        }
      }
    }

    .el-input__inner {
      color: initial;
    }

    .el-input__prefix {
      .el-input__prefix-inner {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 1px;
        right: 1px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        box-shadow: none;
        background: transparent;

        .left,
        .right,
        .center,
        .bottom {
          filter: blur(10px);
          background: var(--up-primary);
        }
        .left {
          margin-left: 0;
        }
        .left,
        .right {
          width: 4px;
          height: 28px;
        }
        .center {
          height: 2px;
          width: 100%;
        }
        .right {
          display: none;
        }
        .bottom {
          display: none;
          height: 1px;
          width: calc(100% - 48px);
          margin: 0 auto;
          align-self: flex-end;
        }
      }
    }
    .el-input__suffix {
      .el-input__suffix-inner {
        .el-input__icon {
          font-size: 18px;
        }
      }
    }
  }
  .send-code {
    padding: 0 0 0 16px;
    border-radius: 0;
    &::before {
      content: '';
      height: 18px;
      width: 1px;
      background: var(--up-line);
      margin-right: 16px;
    }
  }
}
.el-textarea {
  .el-textarea__inner {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.el-form {
  .up-form-item {
    position: relative;
    margin-bottom: 0;
    &.is-success {
      .up-input {
        .el-input__wrapper {
          background: var(--up-bg);
          box-shadow: inset 1px 1px 3px 0px var(--up-line);
          .el-input__prefix-inner {
            .bottom,
            .right,
            .center {
              display: none;
            }
            .left {
              display: block;
            }
          }
        }
      }
    }
    &.is-error {
      .up-input {
        .el-input__wrapper {
          box-shadow: inset 1px 1px 3px 0px var(--up-line);
          .el-input__prefix {
            .el-input__prefix-inner {
              .left,
              .right,
              .center {
                background: var(--up-red);
              }
              .right {
                display: block;
              }
            }
          }
        }
      }
    }
    .el-form-item__label {
      position: absolute;
      left: 16px;
      top: -7px;
      height: 14px;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      z-index: 1;
      &:before {
        display: none;
      }
    }
    .el-form-item__content {
      .error {
        .icon-wrong {
          margin-right: 6px;
        }
        margin-top: 10px;
        text-align: left;
        line-height: 16px;
        color: var(--up-red);
        display: flex;
        align-items: center;
      }
    }
  }
}

.el-drawer {
  background-color: var(--up-background);
  border-radius: 20px 20px 0px 0px;
  .el-drawer__header {
    .el-drawer__title {
      font-size: 20px;
      font-weight: 600;
      color: initial;
      line-height: 28px;
      text-align: left;
    }
  }
  .el-drawer__body {
    .one {
      &:hover {
        background: var(--up-bg);
      }
    }
  }
}
.el-dialog {
  width: 90%;
  max-width: 342px;
  background: var(--up-background);
  border-radius: 12px;

  .el-dialog__header {
    padding: 0;
  }

  .el-dialog__body {
    padding: 24px;
  }
}

// ----------------------------------------------

.el-form--default.el-form--label-top .el-form-item .el-form-item__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.el-form-item__error {
  text-align: left;
}
.el-message {
  max-width: calc(100% - 48px);
  .el-message__badge {
    display: none;
  }
}

.el-overlay {
  background-color: var(--up-mask);
}
.el-message-box {
  width: 302px;
  background: var(--up-background);
  border-radius: 12px;
  box-shadow: none;
  border: 0;
  padding: 24px 32px;
  .el-message-box__header {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    .el-message-box__headerbtn {
      top: 0;
      right: 0;
    }
  }
  .el-message-box__content {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .el-message-box__btns {
    padding: 0;
    justify-content: space-between;
    .el-button + .el-button {
      margin-left: 0;
    }
  }
  .el-button {
    width: 48%;
    background: var(--up-bg);
    box-shadow: inset 1px 1px 3px 0px var(--up-line);
    border-radius: 12px;
    height: 36px;
    color: var(--up-text-primary);
    border: 0;
    &:hover {
      background: rgba(234, 234, 234, 0.8);
    }

    &.is-loading:before {
      background: transparent;
    }

    &.el-button--primary {
      color: #ffffff;
      background: linear-gradient(320deg, #8864ff 0%, #9a7cff 100%);
      box-shadow: inset 1px 1px 4px 0px rgba(255, 255, 255, 0.5);
      &:hover {
        background: linear-gradient(320deg, rgb(109, 79, 205) 0%, rgb(128, 121, 206) 100%);
      }
    }
  }
}
.el-select__popper.el-popper {
  border: 0;
  background: var(--up-bg);
  box-shadow: inset 0px 0px 3px 0px var(--up-line);
  border-radius: 12px;
  backdrop-filter: blur(8px);
}
.el-select {
  width: 100%;
}

// html.dark
&.dark {
  .el-message-box {
    .el-button {
      background: var(--up-bg);
      box-shadow: inset 1px 1px 3px 0px var(--up-line);
      color: #ffffff;

      &:hover {
        background: var(--up-bg-checked);
      }

      &.el-button--primary {
        background: linear-gradient(320deg, #8864ff 0%, #9a7cff 100%);
        box-shadow: inset 1px 1px 4px 0px rgba(255, 255, 255, 0.5);
        &:hover {
          background: linear-gradient(320deg, rgb(109, 79, 205) 0%, rgb(128, 121, 206) 100%);
        }
      }
    }
  }
}
