:root {
  --up-primary: #8864ff;
  --up-secondary: #ad94ff;
  --up-third: #acf080;
  --up-background: #ffffff;

  --up-text-primary: #1f202a;
  --up-text-secondary: #5e5f6e;
  --up-text-third: #97989d;

  --up-red: #d44b4b;
  --up-green: #4aac4c;
  --up-orange: #ff984f;
  --up-pink: #ebdfdf;

  --up-bg: rgba(234, 234, 234, 0.5);
  --up-bg-solid: rgb(244, 244, 244);
  --up-bg-checked: rgba(234, 234, 234, 0.8);
  --up-text: #c1c1c1;
  --up-line: #e5e5e5;

  --up-mask: rgba(0, 0, 0, 0.7);

  // element plus
  --el-color-primary: var(--up-primary) !important;
  --el-color-primary-light-3: var(--up-secondary) !important;
  --el-color-primary-light-5: var(--up-secondary) !important;

  --el-color-success: var(--up-green) !important;
  --el-color-error: var(--up-red) !important;
  --el-color-warning: var(--up-orange) !important;
}

html.dark {
  --up-background: #1f202a;

  --up-text-primary: #ffffff;
  --up-text-secondary: rgba(255, 255, 255, 0.8);
  --up-text-third: rgba(255, 255, 255, 0.6);

  --up-bg: rgba(255, 255, 255, 0.08);
  --up-bg-solid: rgb(49, 49, 59);
  --up-bg-checked: rgba(255, 255, 255, 0.16);
  --up-text: rgba(255, 255, 255, 0.4);
  --up-line: rgba(255, 255, 255, 0.2);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--up-text-primary);
  font-size: 16px;
  font-weight: 500;
  word-spacing: 1px;
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// font-family
html,
button,
input,
optgroup,
select,
textarea {
  font-family: PingFang SC, Source Sans, Microsoft Yahei, sans-serif;
}

a {
  cursor: pointer;
  color: var(--up-primary);
  text-decoration: none;
}
a:hover {
  color: var(--up-secondary);
}

h2 {
  margin-top: 20px;

  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}
h4 {
  margin-top: 16px;

  font-size: 16px;
  font-weight: 400;
  color: var(--up-text-third);
  line-height: 26px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}
h5 {
  margin-top: 12px;

  font-size: 14px;
  font-weight: 400;
  color: var(--up-text-third);
  line-height: 16px;
}

h6 {
  margin-top: 20px;

  font-size: 14px;
  font-weight: 400;
  color: var(--up-text-third);
  line-height: 20px;
}

.up-illustration {
  margin-top: 40px;
  width: 120px;
  height: 120px;
}
.up-setting {
  margin-top: 40px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  .one {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon-jump {
      cursor: pointer;
    }
  }
  .one.jump {
    cursor: pointer;
  }
}

.up-puzzle {
  position: relative;
  margin-top: 40px;
  width: 100%;
  background: var(--up-bg);
  border-radius: 12px;
  overflow: hidden;
  padding: 24px;
  .key {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    img {
      width: 102px;
      height: 102px;
      margin-right: 36px;
    }
    .info {
      width: 100%;
    }
  }
  .mold {
    margin-top: 24px;
  }
  .mask {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--up-mask);
    align-items: center;
    img {
      width: 130px;
      height: 130px;
    }
    .mold-success {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
    }
  }
}
.up-puzzle + .up-puzzle {
  margin-top: 24px;
}

.up-message-success {
  top: calc(50vh - 22px) !important;
  border: 0;
  padding: 14px 24px;
  background: var(--up-mask);
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;

  .icon-success {
    color: var(--up-green);
  }
}
.up-message-error {
  // top: 114px !important;
  border: 0;
  width: 100%;
  padding: 14px 16px;
  background: var(--up-pink);
  border-radius: 12px;
  border: 1px solid var(--up-red);
  font-size: 14px;
  font-weight: 400;
  color: var(--up-red);
}
.up-sign,
.up-connect {
  text-align: left;

  margin: 20px -26px -26px;
  border-radius: 28px 28px 0px 0px;
  border: 2px solid var(--up-bg);
  padding: 0 24px 45px;
  background: var(--up-background);

  .btns {
    margin-top: 28px;
    display: flex;
    .el-button + .el-button {
      margin-left: 16px;
    }
  }
  .line {
    margin: 20px 0;
    border-top: 1px dashed var(--up-line);
  }
}

#page-sign,
#page-connect {
  background-color: var(--up-background);
  background-image: url('assets/img/connect/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.iconpark.is-loading {
  animation: rotating 2s linear infinite;
}
